<div>
  <div id="header-login">
    {{getHeaderText()}} <a (click)="onLoginLogoutOpen()" href="#">{{linkText}}</a>
  </div>
  <!--  <div id="jqxWidget" #jqxWidget>-->
  <!--    <div id="mainDemoContainer" style="width: 100%; height: 100px; margin-top: 50px;">-->
  <jqxWindow #windowReference [width]="250" [height]="140"
             [showCollapseButton]="false" [showCloseButton]="true" [isModal]="true" [autoOpen]="false"
             [position]="{ x: 90, y: 140 }" title="Login">
    <div id="window" caption="Login">
      <div>
        <table>
          <tr>
            <td>Username:</td>
            <td><input #inputUser style="width: 150px;" type="text" name="user" (keyup)="keyUp($event)" (keydown)="keyDown($event)"/></td>
          </tr>
          <tr>
            <td>Password:</td>
            <td><input #inputPassword style="width: 150px;" type="password" name="password" (keyup)="keyUp($event)" (keydown)="keyDown($event)"/>
            </td>
          </tr>
          <tr>
            <td colspan="2" align="right" valign="bottom">
              <jqxButton #loginButton style="margin-bottom: 5px;"
                         [width]="80" [disabled]="true"
                          (onClick)="onLogin($event)">
                Login
              </jqxButton>
            </td>
          </tr>
        </table>
        <span>{{message}}</span>
      </div>
    </div>
  </jqxWindow>
</div>
<!--  </div>-->
<!--</div>-->
