<div class="application">
  <div class="main-container">
    maincontainer
<!--    <div class="header">-->
<!--      <h1><a href="https://research.csiro.au/eyeonwater/">Eye On Water: Australia</a> - WFS Viewer</h1>-->
<!--      <div class="sub-header box-shadow">-->
<!--        <div class="sub-header-stats">-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div id="map" class="map"></div>
    <div id="popup" class="box-shadow">
      <div class="title">
        Measurement details:
        <div class="close"></div>
      </div>
      <div class="stats"></div>
      <div class="content"></div>
    </div>

  </div>
  <div class="sidebar">sidebar</div>
  <div id="waterbody"></div>

  <div class="layersSwitch"></div>

</div>
