<div class="panel-body" id="measurements">
  <h5>Recent measurements</h5>
  <div class="measurement-list">
    <ul class="item-container">
    </ul>
  </div>
</div>
<div class="panel-body" id="users">
  <h5>Most Active Users</h5>
  <button id="clearFilterButton" class="hidden"> Clear</button>
  <div class="user-list">
    <ul class="item-container">
    </ul>
  </div>
</div>
<div class="panel-body" id="eow-dataPoint-information"> <!-- popup id -->
  <h5>Measurement details:<span class="close"></span></h5>
  <div class="stats"><app-stats [stats]="stats" [pieChartPreparedData]="pieChartPreparedData" [pieChartParentSelector]="pieChartParentSelector"></app-stats></div>
  <div class="content"></div>
</div>
<div class="panel-body" id="eow-timeline">
  <h5>Timeline:<span class="close"></span></h5>
  <div id="content"></div>
</div>
