<h5>Recent measurements</h5>
<hr>
<div class="panel-body" id="measurements">
  <div class="measurement-list">
    <ul class="item-container">
    </ul>
  </div>
</div>
<h5>Most Active Users</h5>
<hr>
<div class="panel-body" id="users">
  <button id="clearFilterButton" class="hidden"> Clear</button>
  <div class="user-list">
    <ul class="item-container">
    </ul>
  </div>
</div>
<div class="panel-body" id="eow-dataPoint-information"> <!-- popup id -->
  <h5>Measurement details:<span class="close"></span></h5>
  <hr/>
  <div class="stats"></div>
  <div class="content"></div>
</div>
<div class="panel-body" id="eow-timeline">
  <h5>Timeline:<span class="close"></span></h5>
  <div id="content"></div>
</div>
