<div class="panel-body" id="users">
  <h5>Most Active Users ({{getUsersLength()}})</h5>
  <button id="clearFilterButton" class="hidden"> Clear</button>
  <div class="user-list">
    <ul class="item-container">
      <li *ngFor="let user of usersList"
          class="item"
          [attr.data-user]="user.id">
        <div>
          <img class="icon-thumb" src="https:eyeonwater.org/grfx/{{user.icon}}">
        </div>
        <div>
          <div class="item-nickname">{{user.nickname}} <span class="item-photo-count">({{user.photo_count}} photos)</span></div>
          <div class="item-points">{{user.points}} points (level {{user.level}})</div>
        </div>
      </li>
    </ul>
  </div>
</div>
