html {
  overflow-x: hidden;
  box-sizing: padding-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  font-family: Tahoma, Geneva, sans-serif;
  color: #777777;
  background-color: white;
}

.application {
  display: grid;
  grid-template: 35px 1fr / 80% 1fr;
  height: 100vh;
  min-height: 100%;
}

.main-container{
  grid-column: 1;
  grid-row: 2;
  border-style: none;
  border-color: whitesmoke;
  background-color: white;
}

.sidebar {
  grid-column: 2;
  grid-row: 1/2;
  background-color: white;
  border-style: solid;
  border-color: white;
}

.map {
  width: 100%;
  height: 100%;
  background: white;
}

.header {
  grid-column: 1;
  grid-row: 1;
  padding: 0 0;
  /*position: fixed;*/
  /*z-index: 10;*/
  /*height: 20px;*/
  background: white;
  width: 100%;
  /*height: 10px;*/
  color: #ffffff;
  opacity: 0.8;
}

.header h1 {
  padding: 0 0.5em;
  color: #777777;
}

#popup {
  display: none;
  width: 500px;
  background: #ffffff;
  max-height: 750px;
}

#popup>div {
  padding: 0.1em;
}

#popup.active {
  display: block;
}

/*#popup */
.title {
  border-bottom: 1px solid #bebebe;
}

/*#popup */
.content {
  overflow: auto;
  max-height: 350px;
  padding: 1em;
}

/*#popup */
.close {
  float: right;
  /*position: absolute;*/
  /*top: 4px;*/
  /*right: 8px;*/
}

/*#popup */
.close::before {
  content: '\00d7'
}

.popup-item {
  padding: 0.5em;
  border: 1px solid #acacac
}

#pieChart .close {
  float: right;
  position: absolute;
  top: 4px;
  right: 8px;
}

#pieChart .close::before {
  content: '\00d7'
}

.fu-preview {
  display: inline-block;
  height: 20px;
  width: 100px;
}

.raw-details {
  display: none;
  font-size: 8pt;
}

.popup-item.active .raw-details {
  display: block;
}

.more-info-btn {
  height: 15px;
  float: right;
  cursor: pointer;
}

.more-info-btn::after {
  content: 'More details';
  font-weight: bold;
}

.popup-item.active .more-info-btn::after {
  content: 'Less details'
}

.sub-header-stats {
  background: #ffffff;
  color: #777777;
}

.sub-header-stats>div {
  text-align: center;
}

.sub-header-stats ul {
  margin: 0 auto;
}

.sub-header-stats ul,
.stats ul {
  list-style: none;
  margin: 0;
}

.sub-header-stats ul li,
.stats ul li {
  display: inline-block;
  margin: 0.3em;
  text-align: center;
}


.stats-value {
  display: block;
  font-weight: bolder;
  font-size: 0.9em;
}

.stats-label {
  display: block;
  font-size: 0.7em;
}

.stat-extra {
  font-size: 0.7em;
  font-weight: lighter;
  margin-top: -10px;
}

.box-shadow {
  position: relative;
}

.box-shadow:after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}

.popup-item .image, .popup-item .metadata {
  display: inline-block;
}
.metadata-row {
  display: flex;
  flex-direction: row;
}
.popup-item .metadata  {
  margin-left: 1em;
  flex-grow: 3
}
.popup-item img {
  width: 75px;
  height: 75px;
  flex-grow: 1
}

pre {
  white-space: pre-wrap;
}

.panel {
  position: absolute;
  top: 150px;
  height: 500px;
  width: 275px;
  z-index: 9;
  background: #ffffff;
  transition: all 300ms ease-in-out;
  opacity: 0.8;
}

.pull-tab {
  width: 30px;
  height: 50px;
  cursor: pointer;
  position: absolute;
  background: white;
}

.left-panel .pull-tab {
  right: -30px;
  border-radius: 0px 6px 6px 0px;
}

.right-panel .pull-tab {
  left: -30px;
  border-radius: 6px 0px 0px 6px;
}

.left-panel.pulled{
  transform: translateX(-99%);
}

.right-panel.pulled{
  transform: translateX(99%);
}

.panel-body {
  margin: 0.6em;
}

.icon-thumb {
  width: 40px;
  margin-right: 5px;
  padding: 5px;
}

.user-list ul.item-container, .measurement-list  ul.item-container {
  padding: 0;
  height: 350px;
  width: 225px;
}

.user-list li.item{
  padding: 5px 5px 5px 5px;
  list-style: none;
  display: flex;
  height: 60px;
}

.user-list, .measurement-list {
  overflow-y: auto;
}

.right-panel {
  right: 0px;
}

li.item {
  cursor: pointer;
}

/*.hidden {*/
/*  display:none;*/
/*}*/

#clearFilterButton {
  float:right;
}

.item-nickname {
  font-weight: bolder;
}

.measurement-item {
  margin-top: 0px;
  margin-bottom: 5px;
}

.measurement-item {
  margin-top: 0px;
  margin-bottom: 5px;
}

.measurement-item img{
  width: 15px;
}

.measurement-item:hover{
  font-weight: bolder;
}

.label {
  font-size: 0.9em;
  text-anchor: middle;
  font-weight: 800;
  fill: #3c6382;
  mix-blend-mode: luminosity;
}

td, th {
  /*border: 1px solid #999;*/
  padding: 0.5rem;
}

.thead {
  font-weight: bold;
  border-left: 0.5px solid #bebebe;
}

#measurements, #users {
  /*display: block;*/
  opacity: 1;
  max-height: 420px;
  visibility: visible;
  -webkit-transition: all 500ms ease-out 1s;
  -moz-transition: all 500ms ease-out 1s;
  -o-transition: all 500ms ease-out 1s;
  transition: all 500ms ease-out 1s;
}

#measurements.hidden, #users.hidden {
  opacity: 0;
  overflow: hidden;
  max-height: 0;
  visibility: hidden;
}
